section.game
    .container
        .game__row
            .game__info
                h2.game__title.title
                    .game__title-top Esteja dentro
                    .game__title-center do jogo com
                    .game__title-bottom
                        .game__title-bottom_one o #[span aplicativo]
                        .game__title-bottom_two Favbet
                .game__links
                    .game__ios
                        a(href='#').game__link.game__ios-link
                            picture
                                source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/apple-desc.png")
                                source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/apple-desc.png")
                                source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/apple-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/apple-mob.png")
                                img(src="img/apple-desc.png" alt="Favbet")
                        a(href='#ios-guide').game__ios-instr instrução
                    .game__google
                        a(href='#').game__link.game__google-link
                            picture
                                source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/google-desc.png")
                                source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/google-desc.png")
                                source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/google-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/google-mob.png")
                                img(src="img/google-desc.png" alt="Favbet")
                        a(href='#google-guide').game__google-instr instrução
            .game__image
                picture
                    source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/game-desc.png")
                    source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/game-tab.png")
                    source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/game-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/game-mob.png")
                    img(src="img/game-desc.png" alt="Favbet")
.info
    .container
        p.info__text A fila no caixa é como uma parede chinesa? Cansado de engarrafamentos? #[span Acenda] seu tempo livre com o aplicativo #[span Favbet]
section.download-ios
    h2(id='ios-guide').download-ios__title.title
        .download-ios__title-top Como #[span instalar]
        .download-ios__title-bottom para IOS?

    .container
        .download-ios__row
            .download-ios__step
                .download-ios__step-one
                    p.download-ios__step-info Passo 1
                    .download-ios__step-image
                        img(src='img/download-ios.png' alt="mobile")
                    p.download-ios__step-text instale o TestFlight
                    a(href="https://testflight.apple.com/join/8284Cpeu").download-ios__step-link Baixar TestFlight
                .download-ios__step-two
                    .download-ios__step-qr
                        img(src='img/qr-ios.svg' alt="qr-ios")
                    p.download-ios__step-qr_text Ou digitalize o código QR usando a câmera do seu dispositivo iOS
            .download-ios__step
                .download-ios__step-one
                    p.download-ios__step-info Passo 2
                    .download-ios__step-image
                        img(src='img/download-ios-2.png' alt="mobile")
                    p.download-ios__step-text baixe nosso aplicativo
                    a(href="https://testflight.apple.com/join/8284Cpeu").download-ios__step-link baixe o aplicativo
                .download-ios__step-two
                    .download-ios__step-qr
                        img(src='img/qr-ios-2.svg' alt="qr-ios")
                    p.download-ios__step-qr_text Ou digitalize o código QR usando a câmera do seu dispositivo iOS
section.download-android
    h2(id='google-guide').download-android__title.title
        .download-android__title-top Como #[span instalar] #[span.para-ios para]
        .download-android__title-bottom #[span.para-ios_2 para] android?
    .download-android__try Spoiler: #[span fácil]
    .container
        .download-android__row
            .download-android__image
                picture
                    source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/android-desc.png")
                    source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/android-tab.png")
                    source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/android-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/android-mob.png")
                    img(src="img/android-desc.png" alt="Favbet")
            ul.download-android__list
                li.download-android__item 1. Abra o menu "configurações"
                li.download-android__item 2. Escolha "segurança"
                li.download-android__item 3. Selecione "fontes desconhecidas"
                li.download-android__item 4. Clique "sim" e lá vamos nós
section.down
    .container
        .down__links
            .down__ios
                a(href='#').down__link.down__ios-link
                    picture
                        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/apple-desc.png")
                        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/apple-desc.png")
                        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/apple-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/apple-mob.png")
                        img(src="img/apple-desc.png" alt="Favbet")
            .down__google
                a(href='#').down__link.down__google-link
                    picture
                        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/google-desc.png")
                        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/google-desc.png")
                        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/google-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/google-mob.png")
                        img(src="img/google-desc.png" alt="Favbet")





